

body {
    background-color: #7cc6fe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #252d4a;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
}

.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
}


.question-section {
    width: 100%;
    position: relative;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
}


  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
p {
    width: 100%;
    font-size: 18px;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 4px solid ;
    cursor: pointer;
}

.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

.reponse10 .reponse11 .reponse12 .reponse13 :hover {
    background-color: #555e7d;
}

.reponse10 .reponse11 .reponse12 .reponse13 :focus {
    outline: none;
    cursor: pointer;
  }
