* {
  background-image: url("https://cdn130.picsart.com/279042194000201.gif?to=min&r=640");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: sans-serif;
  font-size: large;
  color: #0f110c;
  text-shadow: 1px 1px #b49dcc7b;
}

body {
  width: 40px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}
.player-card {
  /* width: 12.5rem;
      height: 12.5rem;
      margin: 1.25rem;
      border-radius: 50%;
      background-color: #ddd;
      text-align: center;
      line-height: 12.5rem;
      position: relative;
      display: inline-block;
      border: 2px solid #fff;
      opacity: 1;
      background-repeat: no-repeat;
      background-position: center center;
      vertical-align: top; */
}
.player-card:nth-child(2) {
  /* -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; */
}
button {
  /* width: 25rem;
      border: 2px solid 323031;
      margin: 1.25rem auto;
      cursor: pointer;
      display: block;
      outline: none;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; */
  position: relative;
  display: inline-block;
  padding: 20;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  /* transition: all 200ms ease-out; */
  padding: 10px;
  color: #255784;
  background: white;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 50px white;
  /* transition-delay: 1s; */
}
img {
  border-radius: 8px;
  border: 1px solid #7684c3;
  padding: 5px;
  width: 150px;
}
h1 {
  font-family: Arial, Helvetica, Arial, sans-serif;
  color: #0f110c;
  width: 100%;
}
.guestPick {
  width: 300px;
  vertical-align: top;
  display: inline-block;
}
.guestPick img:hover {
  padding: 10px;
  color: #255784;
  background: white;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 50px white;
}
.btn-runGame {
  position: relative;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.btn-runGame:hover {
  /* transition: all 200ms ease-out; */
  padding: 10px;
  color: #255784;
  background: white;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 50px white;
  /* transition-delay: 1s; */
}

.question-count {
  width: 450px;
  margin: 90px auto;
  text-align: center;
  font-size: 27px;
  color: #fff;
  font-weight: bold;
}
.question-count span {
  text-align: center;
  font-size: 80px;
  color: #fff;
  font-weight: bold;
  animation: textanimation 1s ease-in-out;
}

@keyframes textanimation {
  0% {
    letter-spacing: 20px;
  }
  0% {
    letter-spacing: 1px;
  }
}
